:root {
  /* --toastTime: 5000ms; */
  --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
*, *::before, *::after{
  font-family: 'Nunito', 'Quicksand', 'Roboto', -apple-system, system, system-ui, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
body{
  font-family: 'Nunito', 'Quicksand', 'Roboto', -apple-system, system, system-ui, sans-serif;
  margin: 0;
  color: #444;
  background-color: #dce0e0;
  text-align: center;
}
p{
  margin: 0.5em auto 0.5em;
}
button{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 150ms var(--easing-bounce);
  appearance: none;
  -webkit-appearance: none;
}
button:hover, [type="submit"]:hover{
  transform: scale(1.15);
}
button:active, [type="submit"]:active{
  transform: scale(0.85);
  outline: none;
}
button:focus:not(:active), [type="submit"]:focus:not(:active){
  transform: scale(1.10);
  outline: none;
}
[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
  user-select: none;
  transition: transform 150ms var(--easing-bounce);
}
::selection{
  background-color: #F0FF7A;
}
svg{
  fill: currentColor;
}
em{
  font-style: normal;
  position: relative;
}
em::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  right: -4px;
  background-color: #1b9f64;
  opacity: 0.333;
  /* z-index: -1; */
  border-radius: 2px;
  font-style: normal;
}
/* label{
  cursor: pointer;
} */
#top-bar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b9f64;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  height: 3em;
  user-select: none;
  z-index: 5;
}
#top-bar img{
  height: 1.5em;
}
#top-bar button{
  height: 3em;
  padding: 0.75em;
}
#profile-topbar{
  border-radius: 50%;
  height: 1.75em;
}
#top-bar > h1{
  margin: 0;
  font-weight: normal;
  font-size: 1.75em;
}

.screen{
  margin-top: 3em;
}

.dashboard{
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70em;
  margin: 0 auto;
}

.focus-animation-loop{
  animation: rubberBand 2.5s infinite;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  12% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  16% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  26% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  30% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.subject-card{
  position: relative;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
  background-color: #fff;
  margin: 0.5em;
  border-radius: 0.3em;
  padding: 1em;
  max-width: 25em;
  flex-basis: 17.5em;
  flex-grow: 1;
  text-align: center;
  user-select: none;
  transition: box-shadow 200ms ease-out, transform 300ms ease-out;
  /* height: 9em; */
  cursor: pointer;
  animation: fadeIn 500ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
}

.subject-card:hover{
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.4);
}

.subject-card-remove{
  opacity: 0;
  transform: scale(0.7) translate(1.25em,1.25em);
  position: absolute;
  top: -1.25em;
  left: -1.25em;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: #6A7FDB;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.subject-card-remove > img{
  height: 1.25em;
  margin-bottom: -0.25em;
}
.subject-card-remove:hover{
  transition: transform 100ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transform: scale(1.2) !important;
  animation: tada 1.15s;
}
.subject-card-remove:focus{
  transform: scale(1.1);
}
.subject-card-remove:active{
  transition: transform 100ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transform: scale(0.8) !important;
}
.subject-card:hover .subject-card-remove{
  opacity: 1;
  transform: scale(1);
}

.subject-card-info{
  position: absolute;
  top: 1.5em;
  right: 1em;
  height: 1.75em;
  width: 1.75em;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 0 0.5em 0.25em rgba(255, 255, 255, 1);
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.subject-card-info > img{
  height: 100%;
}
.subject-card-info:hover{
  transform: scale(1.2) rotate(22.5deg);
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -6deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 6deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

.subject-card > h2{
  margin: 0 0.25em;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.subject-card > p{
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.collapsed-sc{
  height: 9em;
}
.expanded-sc{
  height: auto;
}

.subject-bar{
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  background-color: #ddd;
  color: #666;
  margin-top: 1em;
  line-height: 1;
}
.subject-bar > div{
  flex-grow: 1;
  width: 0;
  /* Not sure about the width */
  border-right: solid medium #fff;
  overflow: hidden;
  text-align: center;
  padding: 0.5em 0;
  cursor: pointer;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}
.subject-bar :last-child{
  border-right: none;
  border-radius: 0 0.5em 0.5em 0;
}
.subject-bar :first-child{
  border-radius: 0.5em 0 0 0.5em;
}
.subject-bar > div > div{
  margin-top: 0.5em;
  font-weight: bold;
}

.scolN2{
  background-color: #eee;
  color: #333;
}

.scol1{
  background-color: #4584ad;
  color: white;
}
.scol2{
  background-color: #9464a8;
  color: white;
}
.scol3{
  background-color: #65a580;
  color: white;
}
.scol4{
  background-color: #c9aa67;
  color: white;
}
.scol5{
  background-color: #cf5155;
  color: white;
}
.scol6{
  background-color: #e29a28;
  color: white;
}
.scol7{
  background-color: #444;
  color: white;
}
.scol8{
  background-color: #33aab9;
  color: white;
}
.scol0{
  background: conic-gradient(#14ffe9, #ffeb3d, #ff00e0, #14ffe9);
  color: white;
}


.subject-action-bar{
  border-top: solid thin #ccc;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.subject-action-bar img{
  height: 2em;
  padding: 1em;
  margin-bottom: -1em;
}

.hidden{
  transform: scaleY(0);
}

.grades-input{
  transition: all 200ms ease-out;
  transform-origin: center top;
  text-align: left;
}
.grades-input > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.grades-input > div > div{
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 6em;
  margin: 0.25em 0;
}
.grades-input h3{
  margin: 1em 0 0;
  display: inline-block;
}
.grades-input > span{
  display: inline-block;
  font-size: 0.75em;
  color: #888;
  font-weight: bold;
}
.grades-input span{
  margin: 0 0.5em;
}
input[type=text]::placeholder, input[type=number]::placeholder{
  color: #666;
  opacity: 1;
}
input[type=text], input[type=number]{
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 0;
  height: 2em;
  line-height: 1;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  border: solid;
  border-width: 0;
  outline: none;
  transition: border 300ms ease-out, background-color 200ms ease-out, color 200ms ease-out;
  appearance: none;
  -webkit-appearance: none;
}
input[type=text]:invalid, input[type=number]:invalid{
  border: solid 0.2em#cf5155;
}
input[type=text]:focus:not(:invalid), input[type=number]:focus:not(:invalid){
  border: solid 0.2em #444;
}
.grades-input input{
  flex-grow: 1;
}
.eval-select{
  border-top: solid thin #bbb;
  justify-content: center !important;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
}
.eval-select span{
  margin-right: 0.5em;
}
.eval-select img{
  height: 1em;
  margin-left: 0.5em;
}

/* .blur-bottom{
  position: relative;
}
.blur-bottom::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  background: linear-gradient(to bottom, transparent, #fff);
  opacity: 0.9;
  z-index: 1;
  border-radius: 0  0 1em 1em;
} */
.subjects-search-results{
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* max-height: 50vh; */
}
.searchResult{
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ddd;
  margin: 0;
}
.searchResultCheck{
  margin: 1em;
  height: 1.5em;
  width: 1.5em;
  background-color: #eee;
  border-radius: 100%;
  box-sizing: content-box;
  border: solid 4px #aaa;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  transition: border-color 200ms linear;
}
.searchResult input:checked ~ .searchResultCheck{
  border-color: #209D64;
}
.searchResult input:disabled ~ .searchResultCheck{
  border-color: #aaa;
}
.searchResult input:disabled ~ .searchResultCheck::after{
  border-color: #aaa;
  border-right: solid 4px #aaa;
  border-bottom: solid 4px #aaa;
}
.searchResult:active input:disabled ~ .searchResultCheck::after{
  transform: rotate(130deg) scale(0.75);
  opacity: 0.5;
}
.searchResultCheck::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  height: 16px;
  width: 10px;
  border-right: solid 4px #209D64;
  border-bottom: solid 4px #209D64;
  transform: rotate(90deg) scale(2);
  opacity: 0;
  transition: transform 200ms var(--easing-bounce), opacity 200ms var(--easing-bounce);
}
.subjects-search-results input:checked ~ .searchResultCheck::after{
  transform: rotate(40deg) scale(1);
  opacity: 1;
}
.searchResultTitle{
  flex-grow: 1;
  padding: 0.5em 0;
}
.searchResultAction:hover{
  transform: scale(1.2);
}
.searchResultAction{
  padding: 1em;
  height: 1.5em;
  width: 1.5em;
  box-sizing: content-box;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 150ms var(--easing-bounce);
}
.searchResultAction > img{
  width: 100%;
  height: 100%;
}
.searchResultRow1{
  
}
.searchResultRow2{
  font-size: 0.8em;
}
/* OLD */
/* #subjects-search-results{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
}
#subjects-search-results li{
  padding: 0.5em 0;
  margin: 0.5em 0;
}
#subjects-search-results label:hover{
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4), 0 0 0 0.075em currentColor;
  box-shadow: inset 0 0.1em 1.25em rgba(0, 0, 0, 0.4), 0 0 transparent;
}
#subjects-search-results label{
  padding: 0.5em 1.5em;
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  line-height: 1;
  cursor: pointer;
  background-color: #eee;
  box-shadow: inset 0 0.1em 0.75em rgba(0, 0, 0, 0.3), 0 0 transparent;
  color: #444;
  transition: all 150ms ;
}
#subjects-search-results input:checked ~ label{
  background-color: #4b9ee2;
  box-shadow: 0 0 transparent, 0 0.15em 0.9em rgba(0, 0, 0, 0.4) !important;
  color: white;
}
#subjects-search-results input{
  margin: 0.75em 0.5em 0.75em 1em;
  display: none;
} */
#subject-start-creator{
  background-color: #bf5ed4;
  padding: 0.66em 1em;
  line-height: 1;
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.667em rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 0.5em;
}
.popup-content input[type=search] {
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 0.3em;
  padding: 0.6em 1em 0.4em;
  font-size: 1em;
  line-height: 1;
  display: block;
  width: 100%;
  box-shadow: inset 0 0.125em 1em -0.25em rgba(0, 0, 0, 0.5);
}
.btn-green{
  background-color: #1B9F64 !important;
}
.btn-red{
  background-color: #cf5155 !important;
}
/* .add-popup > div > div{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.add-popup > div > div > span{
  padding: 0 0.25em;
} */
.popup-round-img-top{
  width: 8em;
  margin: -40% auto 0.5em;
  border-radius: 100%;
  box-shadow: 0 0.15em 1.5em rgba(0, 0, 0, 0.5);
}
.user-popup .popup-main-button{
  position: absolute;
}
.user-popup{
  margin: 4em 0.5em 0.5em;
  padding-bottom: 2.5em;
  border-radius: 0.3em;
  background-color: #fefefe;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
  min-height: auto;
  overflow: visible;
  width: auto;
}
.user-popup > button{
  bottom: -1.5em !important;
}

#tutorial{
  padding: 0 2em;
}
#tutorial ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
#tutorial li{
  margin: 0.125em 0;
}
#tutorial h3{
  margin: 0.5em 0 0;
}
#tutorial a{
  color: coral;
  text-shadow: 0 0.1em 0 #dce0e0,
               -0.0707em 0.0707em 0 #dce0e0,
               0.0707em 0.0707em 0 #dce0e0,
               0.1em 0 0 #dce0e0,
               -0.1em 0 0 #dce0e0,
               -0.0382em 0.0924em 0 #dce0e0,
               0.0382em 0.0924em 0 #dce0e0,
               -0.0923em 0.0383em 0 #dce0e0,
               0.0923em 0.0383em 0 #dce0e0; 
  text-decoration: none;
  position: relative;
}
#tutorial a::before{
  content: "";
  bottom: 0.15em;
  left: -0.1em;
  right: -0.1em;
  height: 0.2em;
  background-color: currentColor;
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

#toast{
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  user-select: none;
  animation: goUp 500ms cubic-bezier(0.215, 0.61, 0.355, 1), fadeOut 5s 2.5s cubic-bezier(1, 0, 1, 1), opaque 2.5s;
}
#toast > div{
  border: solid 0.3em #222222;
  border-bottom: none;
  margin: 0 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.75em 1em;
  z-index: 5;
  background-color: #303030;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  color: #fff;
}
#toast p{
  margin: 0.25em 0.5em;
  text-align: center;
  display: inline-block;
}
#toast button::after{
  content: '';
  background-color: #e5f139;
  height: 0.1em;
  width: 90%;
  position: absolute;
  bottom: 0;
  border-radius: 0.1em;
  left: 5%;
}
#toast button{
  position: relative;
  color: #e5f139 !important;
  margin: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: inline-block;
}

@keyframes goUp{
  from{transform: translateY(100%);}
  to{transform: none;}
}
@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes opaque{
  from{opacity: 1;}
  to{opacity: 1;}
}
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate(60deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: rotate(0deg);
    opacity: 1;
  }
}

#congratulations-img > img{
  max-width: calc(100% - 2em);
  max-height: 33.33vh;
  border-radius: 2em;
  margin: 1em;
  box-shadow: 0 0.4em 2em rgba(0, 0, 0, 0.6), 0 0em 0.5em rgba(0, 0, 0, 0.7);
  transition: transform 150ms var(--easing-bounce);
  animation: rotateIn 2s ease-out;
}
#congratulations-img > img:hover{
  transform: scale(1.075);
}

#dashboard-loader{
  margin: 1em 0;
  cursor: progress;
}

#dashboard-loader p{
  margin: 0;
}

.loader{
  display: none;
}
.loader-dots {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 16px;
}
.loader p {
  text-align: center;
}
.loader-dots div {
  position: absolute;
  top: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #666;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 6px;
  animation: loader-dot1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 6px;
  animation: loader-dot2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 26px;
  animation: loader-dot2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 45px;
  animation: loader-dot3 0.6s infinite;
}
@keyframes loader-dot1 {
  0%   {transform: scale(0);}
  100% {transform: scale(1);}
}
@keyframes loader-dot3 {
  0%   {transform: scale(1);}
  100% {transform: scale(0);}
}
@keyframes loader-dot2 {
  0%   {transform: translate(0, 0);}
  100% {transform: translate(19px, 0);}
}



/* -------------------- Edit Subject Popup ------------------ */
.edit-popup input:not([type="submit"]):not([type="radio"]):not([type="check"]){
  width: 100%;
  display: block;
  background-color: #ddd;
}
/* ------ Basic information ------- */
.edit-popup > div > h2:first-child{
  margin-top: 0;
}
.edit-popup-info{
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}
.edit-popup-info span > span{
  white-space: nowrap;
  margin: 0 0.5em;
}
.edit-popup-info > *{
  margin: 1em 0.5em;
  flex: 1;
}
.edit-popup-info > div > label{
  padding: 0 0 0.5em;
  display: block;
  white-space: nowrap;
}
.edit-fullName{
  flex: 5 !important;
}

/* ------ Color ------- */
.color-bar{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.color-bar > *{
  height: 2.5em;
  max-width: 2.5em;
  flex: 1;
  border-radius: 0.5em;
  cursor: pointer;
  color: white;
  flex-wrap: wrap;
}
.color-bar > *:hover .edit-color-checkmark::after{
  opacity: 0.5 !important;
}
.color-bar input:checked + .edit-color-checkmark::after{
  opacity: 1 !important;
}
.color-bar input:not(:checked) + .edit-color-checkmark::after{
  opacity: 0;
}
.edit-color-checkmark{
  position: relative;
}
.edit-color-checkmark::after{
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0em;
  height: 1.75em;
  width: 1.25em;
  transform: translateX(-50%) rotate(45deg) scale(0.75);
  border: solid white;
  border-width: 0 0.5em 0.5em 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.edit-color-checkmark-random::after{
  content: "?";
  font-family: "Arial Black", Gadget, sans-serif;
  transform: none;
  border: none;
  font-size: 2em;
  font-weight: bolder;
  top: 0.1em;
  left: -0.65em;
  line-height: 1;
}
.color-bar input{
  display: none;
}
/* --------- Evaluation ---------- */
.scroll{
  overflow: scroll;
  scroll-behavior: smooth;
}
.edit-popup-grid{
  display: grid;
  grid-template: min-content
  / 1fr 3fr min-content 2px;
  grid-gap: 0.5em;
  grid-auto-columns: 2fr;
  grid-auto-rows: min-content;
  align-items: end;
}
.edit-popup-grid input { width: 100%; }
.edit-popup-grid > * { transition: opacity 200ms ease-out; }
.edit-weight { position: relative; }
.edit-weight::after{
  content: "%";
  position: absolute;
  top: calc(50% - 0.5em);
  bottom: calc(50% - 0.5em);
  right: 0.25em;
  line-height: 1;
  font-size: 1em;
  pointer-events: none;
}
.edit-weight input { padding-right: 1em;   min-width: 3em; }
.grid-separator-eval{
  background-color: #bbb;
  grid-column: 4;
  grid-row: 2 / -1;
  border-radius: 10px;
  height: 100%;
}
.edit-new-exam, .edit-new-eval{
  opacity: 0.3333;
  border: none !important;
}
.divider{
  height: 1px;
  background-color: #aaa;
  border-radius: 1px;
  margin: 0.5em 0;
}
/* .edit-add{
  border-radius: 0.5em;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: #dedede;
  white-space: nowrap;
}
.edit-add-exam{
  grid-row: -1;
  grid-column: 1/4;
  height: 2em;
  padding: 0.5em 0;
  padding-left: 0.15em;
}
.edit-add-eval{
  grid-row: 2/-1;
  grid-column: -2;
  padding: 0 0.5em 0 0.45em;
  padding-top: 0.15em;
} */

.edit-popup input[type='number'] {
  -moz-appearance:textfield;
}

.edit-popup input::-webkit-outer-spin-button,
.edit-popup input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.edit-conditions{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0.5em;
}
.edit-conditions-label{
  padding: 0.3em 0;
  text-align: right;
}
.edit-conditions-input:placeholder-shown{
  opacity: 0.3333;
}
/* ----------------- Popup -------------------*/
.popup{
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-content{
  z-index: 2;
  position: relative;
  padding: 4em 1.5em 6em;
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
/* .popup > div:first-child{
  position: fixed;
  z-index: 3;
  top: 0.5em;
  left: 0.5em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.5);
  background-color: #4b9ee2;
  border-radius: 50%;
} */
.top-bar-popup{
  position: fixed;
  padding: 0.2em;
  top: 0;
  left: 0;
  background-color: #1b9f64;
  color: #fff;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  height: 1.75em;
  user-select: none;
  z-index: 3;
  font-weight: normal;
  font-size: 1.75em;
}
.top-bar-popup img{
  cursor: pointer;
  height: 1.25em;
  position: absolute;
  left: 0.25em;
}
/* .popup > div:first-child::before{
  content: "";
  position: absolute;
  left: 1em;
  top: 1.25em;
  height: 1em;
  width: 1em;
  border-top: solid 0.3em #fff;
  border-left: solid 0.3em #fff;
  transform-origin: 25% 25%;
  transform: rotate(-45deg);
} */
.popup-main-button{
  display: block;
  padding: 1em 1.35em 1em 1.5em;
  font-weight: bold;
  background-color: #1B9F64;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-radius: 10em;
  position: fixed;
  z-index: 5;
  right: 2em;
  bottom: 1.5em;
  border: none;
}
@media(min-width: 600px){
  .popup{
    width: 100vw;
    min-height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
  }
  .popup-content{
    max-width: 25em;
    margin: 0.5em;
    margin-top: 2.5em;
    padding: 1.5em;
    padding-bottom: 2.5em;
    border-radius: 0.3em;
    background-color: #fefefe;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
    min-height: auto;
    overflow: visible;
  }
  .popup > div:first-child::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
    box-shadow: none;
    border-radius: none;
  }
  .popup > div:first-child{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    border-radius: 0;
    z-index: 0;
  }
  .popup-main-button{
    position: absolute;
    bottom: -1.5em;
  }
  .popup-content > div, .popup-content > form{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 6em);
    margin: -1.5em;
    padding: inherit;
  }
  .edit-popup{
    max-width: 40em;
  }
  .add-popup{
    max-width: 30em;
  }
  .popup-content{
    max-height: calc(100vh - 6em);
  }
}
.popup h2{
  margin: 0.75em 0 0.25em;
  line-height: 1;
}
.popup h2:first-child{
  margin-top: 0;
}
.popup h3{
  margin: 1em 0 0.5em;
  line-height: 1;
  text-align: left;
}
.popup p{
  text-align: left;
}
.popup li{
  text-align: left;
}
.popup-small{
  width: 100vw;
  min-height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
}
.popup-small > div:first-child::before{
  content: none;
  display: none;
}
.popup-small > div:first-child{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: none;
  border-radius: 0;
  z-index: 0;
}
.add-popup{
  text-align: center;
}
.searchGroupDesc{
  margin: 0.5em 0;
  display: block;
  color: #777;
  font-size: 0.9em;
}
.add-popup p{
  margin: 0.5em 0 0;
  display: block;
  color: #777;
  font-size: 0.9em;
  text-align: center;
}

/* ----------------- Next section -------------------*/
