body{
  font-family: 'Nunito', 'Roboto', sans-serif;
  margin: 0;
  color: #444;
  background-color: #dce0e0;
  text-align: center;
}

.top-bar{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1em;
  box-sizing: border-box;
  background-color: #6254ce;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  height: 3em;
}

.top-bar > img{
  height: 1.5em;
}

.top-bar > h1{
  margin: 0;
  font-weight: normal;
  font-size: 1.75em;
}

.dashboard{
  padding-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70em;
  margin: 0 auto;
}

.add-button > img{
  height: 4em;
  border-radius: 50%;
}

.add-button{
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 2em 0;
}

.subject-card{
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  background-color: #efefef;
  margin: 1em;
  border-radius: 0.5em;
  padding: 1em;
  max-width: 20em;
  flex-basis: 15em;
  flex-grow: 1;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}

.subject-card:hover{
  box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.4);

}

.subject-card > h2{
  margin: 0;
  font-size: 3em;
  line-height: 1;
  display: inline-block;
}

.subject-card > p{
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 0 0 0.25em;
  display: inline-block;
}

.subject-bar{
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  background-color: #ccc;
  color: #666;
  margin-top: 1em;
  line-height: 1;
}
.subject-bar > div{
  flex-grow: 1;
  border-right: solid medium #efefef;
  overflow: hidden;
  text-align: center;
  padding: 0.5em 0;
}
.subject-bar :last-child{
  border-right: none;
  border-radius: 0 0.5em 0.5em 0;
}
.subject-bar :first-child{
  border-radius: 0.5em 0 0 0.5em;
}
.subject-bar > div > div{
  margin-top: 0.5em;
  font-weight: bold;
}

.scolN{

}

.scol1{
  background-color: #4584ad;
  color: white;
}
.scol2{
  background-color: #9464a8;
  color: white;
}
.scol3{
  background-color: #65a580;
  color: white;
}
.scol4{
  background-color: #c9aa67;
  color: white;
}
.scol5{
  background-color: #cf5155;
  color: white;
}
.scol6{
  background-color: #33aab9;
  color: white;
}
.scol7{
  background-color: #e29a28;
  color: white;
}

