*{
  font-family: 'Nunito', 'Quicksand', 'Roboto', -apple-system, system, system-ui, sans-serif;
}
body{
  font-family: 'Nunito', 'Quicksand', 'Roboto', -apple-system, system, system-ui, sans-serif;
  margin: 0;
  color: #444;
  background-color: #dce0e0;
  text-align: center;
}
p{
  margin: 0.5em auto 0.5em;
}
button{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover{
  transform: scale(1.15);
}
button:active{
  transform: scale(0.85);
  outline: none;
}
button:focus:not(:active){
  transform: scale(1.10);
  outline: none;
}
::selection{
  background-color: #F0FF7A;
}

#top-bar{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #1b9f64;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
  height: 3em;
  user-select: none;
  z-index: 5;
}
#top-bar img{
  height: 1.5em;
}
#top-bar button{
  height: 3em;
  padding: 0.75em;
}
#profile-topbar{
  border-radius: 50%;
  height: 1.75em;
}
#top-bar > h1{
  margin: 0;
  font-weight: normal;
  font-size: 1.75em;
}

.screen{
  margin-top: 3em;
}

.dashboard{
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70em;
  margin: 0 auto;
}

.focus-animation-loop{
  animation: rubberBand 2.5s infinite;
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  12% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  16% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  20% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  26% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  30% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.subject-card{
  position: relative;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
  background-color: #fff;
  margin: 0.5em;
  border-radius: 0.3em;
  padding: 1em;
  max-width: 25em;
  flex-basis: 15em;
  flex-grow: 1;
  text-align: center;
  user-select: none;
  transition: box-shadow 200ms ease-out, transform 300ms ease-out;
  /* height: 9em; */
  cursor: pointer;
  animation: fadeIn 500ms ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.subject-card:hover{
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.4);
}

.subject-card-remove{
  opacity: 0;
  transform: scale(0.7) translate(1.25em,1.25em);
  position: absolute;
  top: -1.25em;
  left: -1.25em;
  height: 2.5em;
  width: 2.5em;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #6A7FDB;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.subject-card-remove > img{
  height: 1.25em;
  margin-bottom: -0.25em;
}
.subject-card-remove:hover{
  transition: transform 100ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transform: scale(1.2) !important;
  animation: tada 1.15s;
}
.subject-card-remove:focus{
  transform: scale(1.1);
}
.subject-card-remove:active{
  transition: transform 100ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transform: scale(0.8) !important;
}
.subject-card:hover .subject-card-remove{
  opacity: 1;
  transform: scale(1);
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -6deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.15, 1.15, 1.15) rotate3d(0, 0, 1, 6deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

.subject-card > h2{
  margin: 0;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
}

.subject-card > p{
  font-weight: bold;
  font-size: 3em;
  margin: 0 0 0 0.25em;
  display: inline-block;
}

.collapsed-sc{
  height: 9em;
}
.expanded-sc{
  height: auto;
}

.subject-bar{
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  background-color: #ddd;
  color: #666;
  margin-top: 1em;
  line-height: 1;
}
.subject-bar > div{
  flex-grow: 1;
  width: 0;
  /* Not sure about the width */
  border-right: solid medium #fff;
  overflow: hidden;
  text-align: center;
  padding: 0.5em 0;
  cursor: pointer;
}
.subject-bar :last-child{
  border-right: none;
  border-radius: 0 0.5em 0.5em 0;
}
.subject-bar :first-child{
  border-radius: 0.5em 0 0 0.5em;
}
.subject-bar > div > div{
  margin-top: 0.5em;
  font-weight: bold;
}

.scolN2{
  background-color: #eee;
  color: #333;
}

.scol1{
  background-color: #4584ad;
  color: white;
}
.scol2{
  background-color: #9464a8;
  color: white;
}
.scol3{
  background-color: #65a580;
  color: white;
}
.scol4{
  background-color: #c9aa67;
  color: white;
}
.scol5{
  background-color: #cf5155;
  color: white;
}
.scol6{
  background-color: #e29a28;
  color: white;
}
.scol7{
  background-color: #444;
  color: white;
}
.scol8{
  background-color: #33aab9;
  color: white;
}


.subject-action-bar{
  border-top: solid thin #ccc;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.subject-action-bar img{
  height: 2em;
  padding: 1em;
  margin-bottom: -1em;
}

.hidden{
  transform: scaleY(0);
}

.grades-input{
  transition: all 200ms ease-out;
  transform-origin: center top;
  text-align: left;
}
.grades-input > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.grades-input > div > div{
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 6em;
  margin: 0.25em 0;
}
.grades-input h3{
  margin: 1em 0 0;
  display: inline-block;
}
.grades-input span{
  margin: 0 0.5em;
  display: block;
}
.grades-input input::placeholder{
  color: #666;
  opacity: 1;
}
.grades-input input{
  flex-grow: 1;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 0;
  height: 2em;
  line-height: 1;
  width: 3em;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  transition: border 300ms ease-out, background-color 200ms ease-out, color 200ms ease-out;
}
.grades-input input:invalid{
  border: solid 0.2em#cf5155;
}
.grades-input input:focus:not(:invalid){
  border: solid 0.2em #444;
  outline: none;
}
.eval-select{
  border-top: solid thin #bbb;
  justify-content: center !important;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
}
.eval-select span{
  margin-right: 0.5em;
}
.eval-select img{
  height: 1em;
  margin-left: 0.5em;
}

.popup{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-content{
  z-index: 2;
  position: relative;
  padding: 1.5em;
  background-color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}
.popup > div:first-child{
  position: fixed;
  z-index: 3;
  top: 0.5em;
  left: 0.5em;
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.popup > div:first-child::before{
  content: "";
  position: absolute;
  left: 0.9em;
  top: 1.16em;
  height: 1.4142em;
  width: 1.4142em;
  box-sizing: border-box;
  border-top: solid 0.3em #333;
  border-left: solid 0.3em #333;
  transform-origin: 25% 25%;
  transform: rotate(-45deg);
}
.popup-tabs{
  text-align: left;
  z-index: 1;
  padding-left: 3em;
  display: none;
}
.popup-tabs > button{
  margin: 0 1em;
  padding: 1em 1.5em;
  line-height: 1;
  background-color: #6A7FDB;
  color: white;
  z-index: 0;
  text-transform: uppercase;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  letter-spacing: 0.15em;
  font-weight: bold;
}
.popup-tabs > button:hover{
  transform: none;
}
.popup-content > button:last-child{
  display: block;
  padding: 1em 1.35em 1em 1.5em;
  font-weight: bold;
  background-color: #1B9F64;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-radius: 10em;
  position: absolute;
  z-index: 5;
  right: 2em;
  bottom: 1.5em;
}
@media(min-width: 600px){
  .popup{
    width: 100vw;
    min-height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
  }
  .popup-content{
    max-width: 25em;
    padding-bottom: 2.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    background-color: #fefefe;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
    min-height: auto;
  }
  .popup > div:first-child::before{
    content: none;
    display: none;
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
  }
  .popup > div:first-child{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    border-radius: 0;
    z-index: 0;
  }
  .popup-tabs{
    text-align: left;
    margin-bottom: -2em;
    z-index: 1;
    padding-left: 0;
    /* position: absolute;
    top: -3em;
    left: 0; */
  }
  .popup-tabs > button{
    margin: 0 1em;
    padding: 1em 1.5em 2.5em;
    line-height: 1;
    background-color: #6A7FDB;
    color: white;
    z-index: 0;
    border-radius: 0.5em 0.5em 0 0;
    text-transform: uppercase;
    box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
    text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
    letter-spacing: 0.15em;
    font-weight: bold;
  }
  .popup-tabs > button:hover{
    transform: translateY(-1em);
  }
  .popup-content > button:last-child{
    bottom: -1.5em;
  }
}
.popup-small{
  width: 100vw;
  min-height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
}
.popup-small > div:first-child::before{
  content: none;
  display: none;
}
.popup-small > div:first-child{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: none;
  border-radius: 0;
  z-index: 0;
}
.add-popup{
  text-align: center;
}
.add-popup > div > label{
  margin: 0.5em 0;
  display: block;
  color: #777;
  font-size: 0.9em;
}
#subjects-search-results{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
}
#subjects-search-results li{
  padding: 0.5em 0;
  margin: 0.5em 0;
}
#subjects-search-results label:hover{
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4), 0 0 0 0.075em currentColor;
  box-shadow: inset 0 0.1em 1.25em rgba(0, 0, 0, 0.4), 0 0 transparent;
}
#subjects-search-results label{
  padding: 0.5em 1.5em;
  text-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  line-height: 1;
  margin: 0.5em;
  cursor: pointer;
  background-color: #eee;
  box-shadow: inset 0 0.1em 0.75em rgba(0, 0, 0, 0.3), 0 0 transparent;
  color: #444;
  transition: all 150ms ;
}
#subjects-search-results input:checked ~ label{
  background-color: #4b9ee2;
  box-shadow: 0 0 transparent, 0 0.15em 0.9em rgba(0, 0, 0, 0.4) !important;
  color: white;
}
#subjects-search-results input{
  margin: 0.75em 0.5em 0.75em 1em;
  display: none;
}
.popup-content input[type=search] {
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 0.3em;
  padding: 0.6em 1em 0.4em;
  font-size: 1em;
  line-height: 1;
  display: block;
  width: 100%;
  box-shadow: inset 0 0.125em 1em -0.25em rgba(0, 0, 0, 0.5);
}
.btn-green{
  background-color: #1B9F64 !important;
}
.btn-red{
  background-color: #cf5155 !important;
}
.popup h2{
  margin: 0 0 0.5em;
  line-height: 1;
}
.popup h3{
  margin: 1em 0 0.5em;
  line-height: 1;
  text-align: left;
}
.popup p{
  text-align: left;
}
.popup li{
  text-align: left;
}
.add-popup > div > div{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.add-popup > div > div > span{
  padding: 0 0.25em;
}
.popup-round-img-top{
  width: 8em;
  margin: -40% auto 0.5em;
  border-radius: 100%;
  box-shadow: 0 0.15em 1.5em rgba(0, 0, 0, 0.5);
}
.user-popup{
  margin: 4em 0.5em 0.5em;
  padding-bottom: 2.5em;
  border-radius: 0.3em;
  background-color: #fefefe;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4);
  min-height: auto;
}
.user-popup > button{
  bottom: -1.5em !important;
}

#tutorial{
  padding: 0 2em;
}
#tutorial ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
#tutorial li{
  margin: 0.125em 0;
}
#tutorial h3{
  margin: 0.5em 0 0;
}

#toast{
  text-align: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  user-select: none;
  animation: goUp 500ms cubic-bezier(0.215, 0.61, 0.355, 1), fadeOut 5s 2.5s cubic-bezier(1, 0, 1, 1), opaque 2.5s;
}
#toast > div{
  border: solid 0.3em #222222;
  border-bottom: none;
  margin: 0 0.5em;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.75em 1em;
  z-index: 5;
  background-color: #303030;
  box-shadow: 0 0.15em 1.25em rgba(0, 0, 0, 0.7);
  color: #fff;
}
#toast p{
  margin: 0.25em 0.5em;
  text-align: center;
  display: inline-block;
}
#toast button::after{
  content: '';
  background-color: #e5f139;
  height: 0.1em;
  width: 90%;
  position: absolute;
  bottom: 0;
  border-radius: 0.1em;
  left: 5%;
}
#toast button{
  position: relative;
  color: #e5f139 !important;
  margin: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: inline-block;
}

@keyframes goUp{
  from{transform: translateY(100%);}
  to{transform: none;}
}
@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes opaque{
  from{opacity: 1;}
  to{opacity: 1;}
}
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate(60deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: rotate(0deg);
    opacity: 1;
  }
}

#congratulations-img > img{
  max-width: calc(100% - 2em);
  max-height: 33.33vh;
  border-radius: 2em;
  margin: 1em;
  box-shadow: 0 0.4em 2em rgba(0, 0, 0, 0.6), 0 0em 0.5em rgba(0, 0, 0, 0.7);
  transition: transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: rotateIn 2s ease-out;
}
#congratulations-img > img:hover{
  transform: scale(1.075);
}

#dashboard-loader{
  margin: 1em 0;
  cursor: progress;
}

#dashboard-loader p{
  margin: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 16px;
}
.lds-ellipsis div {
  position: absolute;
  top: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #666;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
